## imports

In [20]:
#used for data acquisition
import pandas_datareader.data as web
from pandas_datareader.data import Options as ops
#used for datetime formatting
import datetime

## acquisition source
The below source will be used with pandas-datareader to grab data. Google and Yahoo have been deprecated at the time writing this code.

In [21]:
src = "iex"

## timeframe
Below we'll setup the start/end dates for the time period we're interested in grabbing data for.

In [22]:
start = datetime.datetime(2015, 1, 1)
end = datetime.datetime(2017, 1, 1)

In [23]:
facebook = web.DataReader("FB", src, start, end)
facebook.head()

5y

             open     high     low   close    volume
date
2015-01-02  78.58  78.9300  77.700  78.450  18177475
2015-01-05  77.98  79.2455  76.860  77.190  26452191
2015-01-06  77.23  77.5900  75.365  76.150  27399288
2015-01-07  76.76  77.3600  75.820  76.150  22045333
2015-01-08  76.74  78.2300  76.080  78.175  23960953

## grabbing options
The below code doesn't work. It seems that this lecture contains legacy code that the instructor hasn't resolved. The new API does not support goo

In [24]:
fb_ops = ops("FB", src)
fb_ops_df = fb_ops.get_options_data(expiry=fb_ops.expiry_dates[0])
fb_ops_df.head()

NotImplementedError: currently only yahoo and google supported